
.members {
    width: 93%;
    display: flex;
    .container {
        width: 100%;
        background-color: white;
        margin-left: -40px;
        border: 2px solid white;
        border-radius: 55px 0 0 55px;
    }
    &__title {
        margin: 0;
        margin-bottom: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 58px;
        color: #1D2343;
        letter-spacing: 0.45em;
        padding-left: 6%;
    }
    &__cards {
        display: grid;
        padding-left: 6%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        &-item {
            text-align: center;
            align-items: center;
            /* display: grid; */
            width: 261px;
            height: 242px;
            border-radius: 43px;
            background-color: #EE777F;
            box-shadow: 0px 3px 35px 27px rgba(238, 119, 127, 0.36);
            &-upper {
                height: 64%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .face  {
                    margin-top: 20px;
                    width: 50px;
                    color: white;
                }
                &-name {
                    width: 100%;
                    margin-top: 1px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: 0.09em;
                    color: #FFF5F5;
                }
                &-position { 
                    width: 100%; 
                    margin-top: 1px;                                
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.09em;
                    color: rgba(255, 255, 255, 0.86);
                }
                &-green {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    height: 64%;
                    background-color: #65BDC0;
                    border-radius: 43px 43px 0 0 ;
                    .talk {
                        position: absolute;
                        top: 14px;
                        left: 215px;
                    }
                    .face  {
                        margin-top: 20px;
                        width: 50px;
                       
                    }
                    &-name {
                        margin-top: 1px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 29px;
                        letter-spacing: 0.09em;
                        color: #FFF5F5;
                        width: 100%;
                    }
                    &-position {  
                        width: 100%;
                        margin-top: 1px;                                
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.09em;
                        color: rgba(255, 255, 255, 0.86);
                    }
                }
                &-blue {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    height: 64%;
                    background-color: #1D2343;
                    border-radius: 43px 43px 0 0 ;
                    .talk {
                        position: absolute;
                        top: 14px;
                        left: 215px;
                    }
                    .face  {
                        margin-top: 20px;
                        width: 50px;
                    }
                    &-name {
                        margin-top: 1px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 29px;
                        letter-spacing: 0.09em;
                        color: #FFF5F5;
                        width: 100%;
                    }
                    &-position {  
                        margin-top: 1px;                                
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.09em;
                        color: rgba(255, 255, 255, 0.86);
                        width: 100%;
                    }
                }
            }
            &-down {
                height: 35%;
                background-color: #FFF5F5;
                border: 1px solid #FFF5F5;
                border-radius:  0 0 43px 43px;
                &-status {
                    margin-top: 20px;
                    margin-left: 58px;
                    text-align: left;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.09em;
                    color: rgba(29, 35, 67, 0.75);
                }
                &-location {
                    margin-top: 5px;
                    margin-left: 58px;
                    text-align-last: left;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.09em;
                    color: rgba(29, 35, 67, 0.75);
                }
            }
            &-last {
                position: relative;
                display: flex;
                text-align: center;
                align-items: center;
                background-color: #ffffff;
                width: 244px;
                height: 242px;
                border: 5px dashed #E0E0E0;
                border-radius: 43px;
                .circle {
                    position: relative;
                    margin: 0 auto;
                    width: 94px;
                    height: 94px;
                    border: 5px solid #E0E0E0;
                    border-radius: 50%;
                    background-color: transparent;
                    justify-content: center;
                    left: 0px;
                    .line {
                        position: relative;
                        width: 59px;
                        height: 7px;
                        background-color: #E0E0E0;
                        text-align: center;                       
                        top: 41px;
                        left: 16px;

                    }
                    .second {
                        width: 7px;
                        height: 59px;
                        background-color: #E0E0E0;
                        position: absolute;
                        top: 15px;
                        left: 43px;
                    }
                }
            }    
        }
    }
}