.statistics {
    display: none;
    width: 93%;
    .container {
        width: 100%;
        background-color: white;
        margin-left: -40px;
        border: 2px solid white;
        border-radius: 55px 0 0 55px;
    }
     &__title {
        margin: 0;
        margin-bottom: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 58px;
        color: #1D2343;
        letter-spacing: 0.45em;
        padding-left: 6%;
    }
    &__title {
        padding-left: 6%;
        font-size: 40px;
        line-height: 58px;
        letter-spacing: 0.45em;
        color: #1D2343;
        margin: 0;
    }
    &__icons {
        display: grid;
        padding-left: 6%;
        grid-template-columns: repeat(2, 510px);
        grid-template-rows: repeat(2, 270px);
        .electricity {
            display: grid;
            grid-template-columns: repeat(2, 270px);
            &__sorting {
                grid-column-start: 1;
                .sort {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    height: 160px;
                    width: 211px;
                    background-color: #FFF5F5;
                    border: solid 1px transparent;
                    border-radius: 30px;
                    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
                    .scale {
                        width: 30%;
                    }
                   
                    .scale_element {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        .round_one {
                            width: 17px;
                            height: 17px;
                            background-color: $second-color;
                            border-radius: 100%;
                            
                        }
                        .round_two {
                            width: 17px;
                            height: 17px;
                            background-color: $main-color;
                            border-radius: 100%;
                           
                        }
                        .round_three {
                            width: 17px;
                            height: 17px;
                            background-color: $third-color;
                            border-radius: 100%; 
                        }
                        .scaledescr {
                            text-align: center;
                            margin: 0;
                            margin-left: 13px;
                            font-size: 17px;
                            line-height: 20px;
                            letter-spacing: 0.09em;
                            color: rgba(29, 35, 67, 0.75);
                        }
                        &:nth-child(4) {
                            margin-left: 11px;
                        }
                    }
                }
            }
            &__devices {
                
                grid-column-start: 2px;
                .devices {
                    padding: 8px 10px 8px 10px;
                    margin-top: 1px;
                    height: 144px;
                    display: grid;
                    grid-template-columns: repeat(3, 53px);
                    grid-template-rows: repeat(2, 60px);
                    justify-content: space-between;
                    align-items: center;
                    row-gap: 15px;
                    width: 211px;
                    background-color: #FFF5F5;
                    border: solid 1px transparent;
                    border-radius: 30px;
                    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
                    .tv {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 55px;
                        height: 55px;
                        background-color: #1D2343;
                        border-radius: 18px;
                        img {
                            width: 31px;
                            height: 28px;
                        }
                    }
                    .kettle {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 55px;
                        height: 55px;
                        background-color: #EE777F;
                        border-radius: 18px;
                        img {
                            width: 31px;
                            height: 28px;
                        }
                    }
                    .washer {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 55px;
                        height: 55px;
                        background-color: $main-color;
                        border-radius: 18px;
                        img {
                            width: 31px;
                            height: 28px;
                        }
                    }
                    .fridge {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 55px;
                        height: 55px;
                        background-color: #EE777F;
                        border-radius: 18px;
                        img {
                            width: 31px;
                            height: 28px;
                        }
                    }
                    .stove {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 55px;
                        height: 55px;
                        background-color: $main-color;
                        border-radius: 18px;
                        img {
                            width: 31px;
                            height: 28px;
                        }
                    }
                    .pc {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 55px;
                        height: 55px;
                        background-color: #1D2343;
                        border-radius: 18px;
                        img {
                            width: 31px;
                            height: 28px;
                        }
                    }
                }  
            } 
        }
    }
    &__subtitle {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.09em;
        color: rgba(29, 35, 67, 0.75);
        margin: 0;
        margin-bottom: 15px;
      
    }
    &_block {
        width: 337px;
        height: 49%;
        padding: 15px;
        background-color: #FFF5F5;
        border: solid 1px transparent;
        border-radius: 30px;
        box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
    }
    &__scale {
        height: 100%;
    }
}