body {
  margin: 0;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  width: 9%;
  background: #65BDC0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__logo {
  width: 100%;
  text-align: center;
  padding-top: 36px;
  margin-left: -32px;
}

.menu__nav {
  margin-top: 10px;
  margin-left: -34px;
}

.menu__nav-items {
  padding-left: 0;
}

.menu__nav-items li {
  list-style: none;
  margin-top: 42px;
}

.menu__nav-items li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: rgba(255, 245, 245, 0.65);
  text-align: center;
}

.menu__nav-items-descr {
  text-align: center;
  margin-top: 0;
}

.members {
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.members .container {
  width: 100%;
  background-color: white;
  margin-left: -40px;
  border: 2px solid white;
  border-radius: 55px 0 0 55px;
}

.members__title {
  margin: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 58px;
  color: #1D2343;
  letter-spacing: 0.45em;
  padding-left: 6%;
}

.members__cards {
  display: -ms-grid;
  display: grid;
  padding-left: 6%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.members__cards-item {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* display: grid; */
  width: 261px;
  height: 242px;
  border-radius: 43px;
  background-color: #EE777F;
  -webkit-box-shadow: 0px 3px 35px 27px rgba(238, 119, 127, 0.36);
          box-shadow: 0px 3px 35px 27px rgba(238, 119, 127, 0.36);
}

.members__cards-item-upper {
  height: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.members__cards-item-upper .face {
  margin-top: 20px;
  width: 50px;
  color: white;
}

.members__cards-item-upper-name {
  width: 100%;
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.09em;
  color: #FFF5F5;
}

.members__cards-item-upper-position {
  width: 100%;
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: rgba(255, 255, 255, 0.86);
}

.members__cards-item-upper-green {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64%;
  background-color: #65BDC0;
  border-radius: 43px 43px 0 0;
}

.members__cards-item-upper-green .talk {
  position: absolute;
  top: 14px;
  left: 215px;
}

.members__cards-item-upper-green .face {
  margin-top: 20px;
  width: 50px;
}

.members__cards-item-upper-green-name {
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.09em;
  color: #FFF5F5;
  width: 100%;
}

.members__cards-item-upper-green-position {
  width: 100%;
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: rgba(255, 255, 255, 0.86);
}

.members__cards-item-upper-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 64%;
  background-color: #1D2343;
  border-radius: 43px 43px 0 0;
}

.members__cards-item-upper-blue .talk {
  position: absolute;
  top: 14px;
  left: 215px;
}

.members__cards-item-upper-blue .face {
  margin-top: 20px;
  width: 50px;
}

.members__cards-item-upper-blue-name {
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.09em;
  color: #FFF5F5;
  width: 100%;
}

.members__cards-item-upper-blue-position {
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: rgba(255, 255, 255, 0.86);
  width: 100%;
}

.members__cards-item-down {
  height: 35%;
  background-color: #FFF5F5;
  border: 1px solid #FFF5F5;
  border-radius: 0 0 43px 43px;
}

.members__cards-item-down-status {
  margin-top: 20px;
  margin-left: 58px;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);
}

.members__cards-item-down-location {
  margin-top: 5px;
  margin-left: 58px;
  text-align-last: left;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);
}

.members__cards-item-last {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 244px;
  height: 242px;
  border: 5px dashed #E0E0E0;
  border-radius: 43px;
}

.members__cards-item-last .circle {
  position: relative;
  margin: 0 auto;
  width: 94px;
  height: 94px;
  border: 5px solid #E0E0E0;
  border-radius: 50%;
  background-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0px;
}

.members__cards-item-last .circle .line {
  position: relative;
  width: 59px;
  height: 7px;
  background-color: #E0E0E0;
  text-align: center;
  top: 41px;
  left: 16px;
}

.members__cards-item-last .circle .second {
  width: 7px;
  height: 59px;
  background-color: #E0E0E0;
  position: absolute;
  top: 15px;
  left: 43px;
}

.statistics {
  display: none;
  width: 93%;
}

.statistics .container {
  width: 100%;
  background-color: white;
  margin-left: -40px;
  border: 2px solid white;
  border-radius: 55px 0 0 55px;
}

.statistics__title {
  margin: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 58px;
  color: #1D2343;
  letter-spacing: 0.45em;
  padding-left: 6%;
}

.statistics__title {
  padding-left: 6%;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 0.45em;
  color: #1D2343;
  margin: 0;
}

.statistics__icons {
  display: -ms-grid;
  display: grid;
  padding-left: 6%;
  -ms-grid-columns: (510px)[2];
      grid-template-columns: repeat(2, 510px);
  -ms-grid-rows: (270px)[2];
      grid-template-rows: repeat(2, 270px);
}

.statistics__icons .electricity {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (270px)[2];
      grid-template-columns: repeat(2, 270px);
}

.statistics__icons .electricity__sorting {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.statistics__icons .electricity__sorting .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 160px;
  width: 211px;
  background-color: #FFF5F5;
  border: solid 1px transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
}

.statistics__icons .electricity__sorting .sort .scale {
  width: 30%;
}

.statistics__icons .electricity__sorting .sort .scale_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.statistics__icons .electricity__sorting .sort .scale_element .round_one {
  width: 17px;
  height: 17px;
  background-color: #EE777F;
  border-radius: 100%;
}

.statistics__icons .electricity__sorting .sort .scale_element .round_two {
  width: 17px;
  height: 17px;
  background-color: #65BDC0;
  border-radius: 100%;
}

.statistics__icons .electricity__sorting .sort .scale_element .round_three {
  width: 17px;
  height: 17px;
  background-color: #1D2343;
  border-radius: 100%;
}

.statistics__icons .electricity__sorting .sort .scale_element .scaledescr {
  text-align: center;
  margin: 0;
  margin-left: 13px;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);
}

.statistics__icons .electricity__sorting .sort .scale_element:nth-child(4) {
  margin-left: 11px;
}

.statistics__icons .electricity__devices {
  -ms-grid-column: 2px;
      grid-column-start: 2px;
}

.statistics__icons .electricity__devices .devices {
  padding: 8px 10px 8px 10px;
  margin-top: 1px;
  height: 144px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (53px)[3];
      grid-template-columns: repeat(3, 53px);
  -ms-grid-rows: (60px)[2];
      grid-template-rows: repeat(2, 60px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  width: 211px;
  background-color: #FFF5F5;
  border: solid 1px transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
}

.statistics__icons .electricity__devices .devices .tv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background-color: #1D2343;
  border-radius: 18px;
}

.statistics__icons .electricity__devices .devices .tv img {
  width: 31px;
  height: 28px;
}

.statistics__icons .electricity__devices .devices .kettle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background-color: #EE777F;
  border-radius: 18px;
}

.statistics__icons .electricity__devices .devices .kettle img {
  width: 31px;
  height: 28px;
}

.statistics__icons .electricity__devices .devices .washer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background-color: #65BDC0;
  border-radius: 18px;
}

.statistics__icons .electricity__devices .devices .washer img {
  width: 31px;
  height: 28px;
}

.statistics__icons .electricity__devices .devices .fridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background-color: #EE777F;
  border-radius: 18px;
}

.statistics__icons .electricity__devices .devices .fridge img {
  width: 31px;
  height: 28px;
}

.statistics__icons .electricity__devices .devices .stove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background-color: #65BDC0;
  border-radius: 18px;
}

.statistics__icons .electricity__devices .devices .stove img {
  width: 31px;
  height: 28px;
}

.statistics__icons .electricity__devices .devices .pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background-color: #1D2343;
  border-radius: 18px;
}

.statistics__icons .electricity__devices .devices .pc img {
  width: 31px;
  height: 28px;
}

.statistics__subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);
  margin: 0;
  margin-bottom: 15px;
}

.statistics_block {
  width: 337px;
  height: 49%;
  padding: 15px;
  background-color: #FFF5F5;
  border: solid 1px transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
}

.statistics__scale {
  height: 100%;
}

.subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subheader-form {
  width: 175px;
  height: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #C2C2C2;
}

.subheader-form-input {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 21px;
  padding-right: 21px;
  color: #C2C2C2;
  border: 5px solid;
  border-radius: 20px;
}

.subheader-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  margin-right: 87px;
  margin-left: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.utility {
  width: 93%;
  display: none;
}

.utility .container {
  width: 100%;
  background-color: white;
  margin-left: -40px;
  border: 2px solid white;
  border-radius: 55px 0 0 55px;
}

.utility__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.utility__items .history {
  width: 61%;
  margin-left: 6%;
}

.utility__items .current {
  width: 20%;
}

.utility__items .pink {
  background-color: #FFF5F5;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

.utility__items .pink .row {
  border-bottom: 1px solid #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.utility__items .pink .titles__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16.6%;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.71);
  margin-bottom: 5px;
  margin-top: 5px;
}

.utility__items .pink .titles__name-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16.6%;
  width: 82px;
  height: 30px;
  background: rgba(238, 119, 127, 0.46);
  border-radius: 16px;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.71);
}

.utility__items .pink .titles__name-last-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16.6%;
  text-align: center;
  width: 82px;
  height: 30px;
  background: rgba(101, 189, 192, 0.51);
  border-radius: 16px;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.71);
}

.utility__items .pink .row__title {
  margin-top: 13px;
  font-size: 18px;
  line-height: 10px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.47);
}

.utility__items .current {
  margin-left: 30px;
}

.utility__items .current__pink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #FFF5F5;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.utility__items .current__pink-up {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 13px;
}

.utility__items .current__pink-up .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.utility__items .current__pink-up-main {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.51);
}

.utility__items .current__pink-up-num {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.76);
}

.utility__items .current__pink-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.utility__items .current__pink-down .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.utility__items .current__pink-down-main {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.51);
  margin-right: 60px;
}

.utility__items .current__pink-down-num {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.76);
}

.utility__items .current__pink .pay {
  width: 110px;
  height: 31px;
  left: 980px;
  top: 456px;
  background: #EE777F;
  border-radius: 21px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: #FFF5F5;
  border: none;
  margin-top: 7px;
}

.utility__items .chart {
  width: 100%;
  padding-left: 6%;
  padding-top: 5px;
}

.utility__items .chart__header {
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.utility__items .chart__header-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 46%;
}

.utility__items .chart__header-elements .waste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.utility__items .chart__header-elements .waste .round_one {
  width: 17px;
  height: 17px;
  background-color: #EE777F;
  border-radius: 100%;
}

.utility__items .chart__header-elements .waste .round_two {
  width: 17px;
  height: 17px;
  background-color: #65BDC0;
  border-radius: 100%;
}

.utility__items .chart__header-elements .waste .round_three {
  width: 17px;
  height: 17px;
  background-color: #1D2343;
  border-radius: 100%;
}

.utility__items .chart__header-elements .waste .descr {
  font-size: 24px;
  line-height: 23px;
  letter-spacing: 0.09em;
  color: #A3A3A3;
  margin-left: 24px;
}

.utility__items .chart__pink {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 89%;
  background-color: #FFF5F5;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
}

.utility__items .chart__pink-img {
  width: 1002px;
  height: 195px;
}

.kitchen {
  display: none;
  width: 93%;
}

.kitchen .container {
  width: 100%;
  background-color: white;
  margin-left: -40px;
  border: 2px solid white;
  border-radius: 55px 0 0 55px;
}

.kitchen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.kitchen__content-items {
  padding-left: 6%;
  width: 81%;
}

.kitchen__content-items-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kitchen__content-items-first-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 13px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  width: 219px;
  height: 188px;
}

.kitchen__content-items-first-box .boxheader {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.kitchen__content-items-first-box .boxtemperature {
  font-size: 25px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: rgba(29, 35, 67, 0.75);
}

.kitchen__content-items-first-box .boxscale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 35px;
  width: 76px;
  height: 176px;
  -webkit-box-shadow: 0px -6px 60px rgba(29, 35, 67, 0.14);
          box-shadow: 0px -6px 60px rgba(29, 35, 67, 0.14);
  border-radius: 25px;
  margin-top: 11px;
}

.kitchen__content-items-first-box .boxscale__up-first {
  height: 86px;
  width: 76px;
  background-color: #FFE6E6;
  border-radius: 25px 25px 0 0;
}

.kitchen__content-items-first-box .boxscale__up-second {
  height: 104px;
  width: 76px;
  background-color: rgba(202, 238, 239, 0.51);
  border-radius: 25px 25px 0 0;
}

.kitchen__content-items-first-box .boxscale__up-third {
  height: 41px;
  width: 76px;
  background: rgba(197, 202, 227, 0.71);
  border-radius: 25px 25px 0 0;
}

.kitchen__content-items-first-box .boxscale__down-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 86px;
  width: 76px;
  background-color: #EE777F;
  border-radius: 0 0 25px 25px;
}

.kitchen__content-items-first-box .boxscale__down-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  width: 76px;
  background-color: #65BDC0;
  border-radius: 0 0 25px 25px;
}

.kitchen__content-items-first-box .boxscale__down-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 135px;
  width: 76px;
  background-color: #1D2343;
  border-radius: 0 0 25px 25px;
}

.kitchen__content-items-devices__subtitle {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);
  margin-top: 13px;
  margin-bottom: 13px;
}

.kitchen__content-items-devices .kitchendevices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kitchen__content-items-devices .kitchendevices .devicesimg {
  height: 40px;
  width: 35px;
}

.kitchen__content-items-devices .kitchendevices .fridge2 {
  width: 163px;
  height: 131px;
  background: #EE777F;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 70px;
}

.kitchen__content-items-devices .kitchendevices .fridge2 .icondescr {
  width: 100%;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #FFF5F5;
}

.kitchen__content-items-devices .kitchendevices .kettle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 163px;
  height: 131px;
  background: #65BDC0;
  border-radius: 20px;
  margin-right: 70px;
}

.kitchen__content-items-devices .kitchendevices .kettle2 .icondescr {
  width: 100%;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #FFF5F5;
}

.kitchen__content-items-devices .kitchendevices .stove2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 163px;
  height: 131px;
  background: #1D2343;
  border-radius: 20px;
  margin-right: 70px;
}

.kitchen__content-items-devices .kitchendevices .stove2 .icondescr {
  width: 100%;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #FFF5F5;
}

.kitchen__content-items-devices .kitchendevices .dishwasher2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 163px;
  height: 131px;
  background: #EE777F;
  border-radius: 20px;
  margin-right: 70px;
}

.kitchen__content-items-devices .kitchendevices .dishwasher2 .icondescr {
  width: 100%;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #FFF5F5;
}

.kitchen__content-items-devices .kitchendevices .multicooker2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 163px;
  height: 131px;
  background: #65BDC0;
  border-radius: 20px;
  margin-right: 70px;
  margin-top: 10px;
}

.kitchen__content-items-devices .kitchendevices .multicooker2 .icondescr {
  width: 100%;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #FFF5F5;
}

.kitchen__content-items-devices .kitchendevices .tv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 163px;
  height: 131px;
  background: #1D2343;
  border-radius: 20px;
  margin-right: 70px;
  margin-top: 10px;
}

.kitchen__content-items-devices .kitchendevices .tv2 .icondescr {
  width: 100%;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #FFF5F5;
}

.kitchen__content-items-devices .kitchendevices .microwave2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 163px;
  height: 131px;
  background: #ee777f;
  border-radius: 20px;
  margin-right: 70px;
  margin-top: 10px;
}

.kitchen__content-items-devices .kitchendevices .microwave2 .icondescr {
  width: 100%;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #FFF5F5;
}

.kitchen__content-items-devices .kitchendevices .grill2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 163px;
  height: 131px;
  background: #65BDC0;
  border-radius: 20px;
  margin-right: 70px;
  margin-top: 10px;
}

.kitchen__content-items-devices .kitchendevices .grill2 .icondescr {
  width: 100%;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #FFF5F5;
}

.kitchen__content-side {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 1179px;
  top: 142px;
}

.kitchen__content-side-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  width: 150px;
  height: 123px;
  margin-bottom: 10px;
  text-align: center;
}

.kitchen__content-side-item .photo__descr {
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #A3A3A3;
}

.kitchen__content-side-item .photo {
  margin-top: 15px;
}

.welcome {
  width: 93%;
  display: none;
}

.welcome .container {
  width: 100%;
  background-color: white;
  margin-left: -40px;
  border: 2px solid white;
  border-radius: 55px 0 0 55px;
}

.welcome__content {
  width: 80%;
}

.welcome__content-upper {
  padding-left: 6%;
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome__content-upper-time {
  width: 268px;
  height: 144px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  margin-right: 62px;
}

.welcome__content-upper-time .headerwelcome {
  margin-top: 13px;
  margin-left: 27px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.welcome__content-upper-time-num {
  margin-left: 27px;
  margin-top: 29px;
  font-size: 51px;
  line-height: 61px;
  letter-spacing: 0.035em;
  color: rgba(29, 35, 67, 0.75);
}

.welcome__content-upper-temp {
  width: 319px;
  height: 146px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  margin-right: 62px;
}

.welcome__content-upper-temp .headerwelcome {
  margin-top: 13px;
  margin-left: 27px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.welcome__content-upper-temp .temperaturecont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
}

.welcome__content-upper-temp .temperaturecont .temperature {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);
  margin-right: 23px;
}

.welcome__content-upper-members {
  width: 212px;
  height: 146px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
}

.welcome__content-upper-members .headerwelcome {
  margin-top: 13px;
  margin-left: 27px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.welcome__content-upper-members .welcomeicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 27px;
  margin-top: 29px;
}

.welcome__content-upper-members .welcomeicons .welcomephoto {
  margin-right: 20px;
}

.welcome__content-upper-members .welcomeicons .welcomephotodescr {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
  text-align: center;
}

.welcome__content-upper-members .welcomeicons .welcomephotodescrtwo {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
  text-align: center;
}

.welcome__content-header {
  margin-top: 35px;
  font-size: 42px;
  line-height: 29px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);
  margin-left: 6%;
}

.welcome__content-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6%;
  margin-top: 35px;
}

.welcome__content-down-light {
  width: 282px;
  height: 323px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  margin-right: 77px;
}

.welcome__content-down-light .headerwelcome {
  margin-top: 15px;
  margin-left: 27px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.welcome__content-down-light .welcomecircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 187px;
  height: 187px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 100px;
  margin: 55px 47px 69px 48px;
}

.welcome__content-down-light .welcomecircle__descr {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.09em;
  color: #1D2343;
}

.welcome__content-down-light .welcomecirclecont__num {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.welcome__content-down-air {
  width: 282px;
  height: 323px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  margin-right: 77px;
}

.welcome__content-down-air .headerwelcome {
  margin-top: 15px;
  margin-left: 27px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.welcome__content-down-air .welcomecircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 187px;
  height: 187px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 100px;
  margin: 55px 47px 69px 48px;
}

.welcome__content-down-air .welcomecircle__descr {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.09em;
  color: #1D2343;
}

.welcome__content-down-air .welcomecirclecont__num {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.welcome__content-down-temperature {
  width: 184px;
  height: 323px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  margin-right: 120px;
}

.welcome__content-down-temperature .headerwelcome {
  margin-top: 15px;
  margin-left: 27px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.welcome__content-down-temperature-scale {
  width: 85px;
  height: 239px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  margin: 17px 50px 0 50px;
}

.welcome__content-down-temperature-scale-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 94px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px 30px 0 0;
  background-color: #fff;
}

.welcome__content-down-temperature-scale-upper .scaleupper {
  color: #EE777F;
}

.welcome__content-down-temperature-scale-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 145px;
  border: 1px solid #EE777F;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 0 0 30px 30px;
  background-color: #EE777F;
}

.welcome__content-down-temperature-scale-down-descr {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.welcome__content-down-shortcuts {
  position: absolute;
  top: 109px;
  left: 1204px;
}

.welcome__content-down-shortcuts .headerwelcome {
  margin-left: 27px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
}

.welcome__content-down-shortcuts-wifi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 140px;
  background-color: #EE777F;
  border: 1px solid transparent;
  border-radius: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.welcome__content-down-shortcuts-wifi-descr {
  margin-left: 16px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
}

.welcome__content-down-shortcuts-music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 140px;
  background-color: #65BDC0;
  border: 1px solid transparent;
  border-radius: 18px;
  margin-bottom: 20px;
}

.welcome__content-down-shortcuts-music-descr {
  margin-left: 16px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
}

.welcome__content-down-shortcuts-intercom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 140px;
  background-color: #1D2343;
  border: 1px solid transparent;
  border-radius: 18px;
}

.welcome__content-down-shortcuts-intercom-descr {
  margin-left: 16px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */